.skillHolder{
    -webkit-box-align: center;
    display: flex;
    background: #ececec;
    -webkit-box-pack: center;
    justify-content: center;
    min-height: 75vh;
    max-height: 200vh;
    padding: 0px 16px;
}

.skillCard{
    flex-wrap: wrap;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 98px;
    margin-top: 130px;
    margin-left: -71px;
    gap: 100px;
}
